html,
body {
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(100px, 150px);
	gap: 50px 50px;
}

.items {
	background-color: #eee;
}

.items:nth-child(odd) {
	background-color: #ddd;
}