html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}

div {
	float: left;
}

#container {
	width: 50%;
	height: 50%;
	background-color: blue;
	background: radial-gradient(farthest-corner, white, yellow, red);
}
#container2 {
	width: 50%;
	height: 50%;
	background-color: blue;
	background: repeating-radial-gradient(white, #c8c8c8c8 50px)
}